@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.toggle-btn {
  position: fixed;
  margin: 1.4em;
  padding: 1em;
  width: 40px;
  height: 12px;
  right: 1em;
  z-index: 52;
  cursor: pointer;
}

.toggle-btn span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #444444;
}

.toggle-btn span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #444444;
  margin-top: 12px;
}

.menu {
  position: fixed;
  background: #171717;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 51;
}

.menu .data {
  padding: 8em 0 0 2em;
  text-align: left;
}

.menu ul {
  list-style: none;
}

.menu li:first-child {
  color: grey;
  font-family: Poppins;
  font-size: 24px;
}

.menu li:not(:first-child) {
  color: #fff;
  font-size: 42px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fceafc;
  z-index: 1000;
}

.hidden {
  background: #fceafc;
  width: 490px;
  left: 50%;
  position: absolute;
  top: 50%;
  height: 490px;
  margin-left: -245px;
  margin-top: 105px;
}

.arc {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.arc.color {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
}

.arc.color.red {
  background: #f25774;
}

.arc.color.orange {
  background: #ffb65b;
}

.arc.color.yellow {
  background: #fdda74;
}

.arc.color.green {
  background: #4cbe5d;
}

.arc.color.blue {
  background: #4080ff;
}

.arc.color.purple {
  background: #7b64c0;
}

.arc.red {
  height: 490px;
  margin-left: -245px;
  margin-top: -140px;
  width: 490px;
  -webkit-animation-delay: 0.0s;
          animation-delay: 0.0s;
}

.arc.orange {
  height: 420px;
  margin-left: -210px;
  margin-top: -105px;
  width: 420px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.arc.yellow {
  height: 350px;
  margin-left: -175px;
  margin-top: -70px;
  width: 350px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.arc.green {
  height: 280px;
  margin-left: -140px;
  margin-top: -35px;
  width: 280px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.arc.blue {
  height: 210px;
  margin-left: -105px;
  margin-top: 0px;
  width: 210px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.arc.purple {
  height: 140px;
  margin-left: -70px;
  margin-top: 35px;
  width: 140px;
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.arc.bottom {
  background: #fceafc;
  height: 70px;
  margin-left: -35px;
  margin-top: 70px;
  width: 70px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.arc.background {
  -webkit-clip-path: inset(50% 0 0 0);
          clip-path: inset(50% 0 0 0);
  background: #fceafc;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  15% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  31% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  69% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  85% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  15% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  31% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  69% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  85% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #fff;
  width: 20%;
}

.cursor {
  width: 25px;
  height: 25px;
  border: 2px solid #EDEDED;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 20ms;
          transition-duration: 20ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 500;
}

.cursor::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border: 8px solid #DA0037;
  background-color: #000;
  border-radius: 56%;
  opacity: .5;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

.section.footer .site-footer {
  background-color: #171717;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.section.footer .site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.section.footer .site-footer hr.small {
  margin: 20px 0;
}

.section.footer .site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.section.footer .site-footer a {
  color: #737373;
}

.section.footer .site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.section.footer .footer-links {
  padding-left: 0;
  list-style: none;
}

.section.footer .footer-links li {
  display: block;
}

.section.footer .footer-links a {
  color: #737373;
}

.section.footer .footer-links a:active, .section.footer .footer-links a:focus, .section.footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.section.footer .footer-links.inline li {
  display: inline-block;
}

.section.footer .site-footer .social-icons {
  text-align: right;
}

.section.footer .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.section.footer .copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .section.footer .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .section.footer .site-footer {
    padding-bottom: 0;
  }
  .section.footer .site-footer .copyright-text, .section.footer .site-footer .social-icons {
    text-align: center;
  }
}

.section.footer .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.section.footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.section.footer .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.section.footer .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.section.footer .social-icons a:active, .section.footer .social-icons a:focus, .section.footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.section.footer .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.section.footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}

.section.footer .social-icons a.twitter:hover {
  background-color: #00aced;
}

.section.footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.section.footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .section.footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

hr.gradient {
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  height: 8px;
  margin: 0 !important;
}

:root {
  --color:#EDEDED;
  --bg:#171717;
  --primary-color:#DA0037;
  --secondary-color:#444444;
  --default-font: "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  /* background: blanchedalmond!important; */
  color: white;
}

img {
  border: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a.underline {
  padding-bottom: 4px;
  color: white;
  border-bottom: 2px solid white;
}

.gradient-subtext {
  background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  /* background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%); */
  background: linear-gradient(267.91deg, #FFE57F 9.35%, #FF7170 96.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
  background: linear-gradient(87.54deg, #9867F0 -6.8%, #ED4E50 84.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-family: "alliance", mono, sans-serif;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 28px;
  height: 56px;
  border-radius: 0;
  overflow: hidden;
  background: transparent;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
          font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
  color: #fff;
  border: 2px solid #FF7571;
}

.button:hover {
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  background-position: 58% 50%;
  background-size: 500%;
  color: black;
}

section.updates {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(66, 82, 109, 0.5);
  border-bottom: 1px solid rgba(66, 82, 109, 0.5);
  padding-top: 45px;
  padding-bottom: 45px;
  color: #B5BFD2;
}

section.updates p.signup-text {
  font-size: 20px;
}

section.updates p.follow-text {
  margin-top: 35px;
}

ul.linear-list li {
  display: inline-block;
  padding: 10px;
}

section.blog {
  width: 100%;
  float: left;
}

section.blog .subtitle {
  color: #FFE57F;
}

section.blog h1 {
  font-size: 45px;
  color: #FFE57F;
  margin-bottom: 15px;
}

section.blog p {
  text-align: justify;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 15px;
}

section.blog .author {
  float: left;
  margin-left: 20px;
  margin-bottom: 35px;
}

section.blog .time {
  color: #B5BFD2;
}

section.blog .author .details {
  float: left;
  margin-left: 15px;
}

section.blog .author h5 {
  width: 100%;
  margin-top: 5px;
  font-size: 19px;
  margin-bottom: 5px;
}

section.blog .author span {
  width: 100%;
}

section.blog .author img {
  float: left;
  width: 70px;
  border-radius: 50%;
}

header .logo {
  width: 250px;
  float: left;
  margin-right: 15px;
  margin-top: 8px;
  margin-left: 25px;
}

header .time {
  float: left;
  line-height: 60px;
  color: #B5BFD2;
}

header .countdown-time {
  float: left;
  line-height: 60px;
  margin-left: 15px;
}

section.sponsors {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: var(--bg);
  /* border-top: 1px solid rgba(66,82,109,0.5); */
}

section.speakers {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: var(--bg);
}

section.attends {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #000000;
  background: linear-gradient(115deg, #d3ffd7 0%, black 100%), radial-gradient(90% 100% at 50% 0%, #c8c8c8 0%, #16002d 100%), radial-gradient(100% 100% at 80% 0%, #faff00 0%, #240000 100%), radial-gradient(150% 210% at 100% 0%, #70ff00 0%, #14af7d 0%, #000aff 100%), radial-gradient(100% 100% at 100% 30%, #ff4d00 0%, #00c8ff 100%), linear-gradient(60deg, red 0%, #7856ff 100%);
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}

section.attends h2 {
  font-size: 40px;
  margin-bottom: 60px;
  margin-top: 45px;
  font-weight: 800;
}

section.attends p {
  color: #EDEDED;
  margin-bottom: 50px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

section.attends h4 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #EDEDED;
}

section.content-small {
  height: auto !important;
}

section.content-small h1 {
  margin-top: 0px !important;
}

section.content {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 500px;
  background-color: var(--bg);
  background-image: url("../asset/pattern-light.svg");
  background-position: center;
  background-attachment: cover;
  background-repeat: no-repeat;
}

section.sponsors h4 {
  font-size: 36px;
  line-height: 96px;
}

section.content h1 {
  font-size: 96px;
  line-height: 96px;
  margin-top: 45px;
  margin-bottom: 25px;
}

section.content p {
  margin-bottom: 15px;
  color: #B5BFD2;
  font-size: 22px;
}

.container {
  width: 90%;
  padding: 45px;
  margin: auto;
}

ul.sponsor-list {
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

ul.sponsor-list li {
  width: 25%;
  float: left;
  margin-bottom: 15px;
  width: calc(25% - 16px);
}

ul.sponsor-list li img {
  text-align: center;
  vertical-align: middle;
  /* max-width: 150px; */
  /* max-height: 40px; */
  width: auto;
  max-width: 70%;
  max-height: 80px;
}

ul.sponsor-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 128px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

hr.gradient {
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  height: 8px;
}

hr {
  background: rgba(66, 82, 109, 0.5);
  height: 1px;
  border: none;
}

section.subscribe {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background: url("https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iA9uGjxi6LH8/v0/1200x675.jpg") center/100% auto no-repeat;
  padding: 120px 0;
}

section.subscribe * {
  z-index: 10;
}

section.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

section.subscribe p {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}

ul.blog-utilites {
  float: right;
}

ul.blog-utilites li {
  display: inline-block;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}

a.go-back svg {
  float: left;
}

a.go-back span {
  float: left;
  line-height: 24px;
  margin-left: 10px;
}

.clear {
  clear: both;
}

section.faq {
  text-align: center;
  width: 100%;
  height: auto;
}

section.faq h1 {
  font-size: 43px;
  margin-bottom: 39px;
}

ul.faq-question svg {
  float: right;
  cursor: pointer;
  margin-top: -35px;
  fill: white;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

ul.faq-question h2.faq-title {
  text-align: left;
  font-size: 30px;
  margin-bottom: 15px;
}

ul.faq-question .faq-content {
  text-align: left;
  margin-left: 0px;
  font-weight: 500;
  margin-bottom: 26px;
  color: #959da5;
}

ul.speaker-list {
  width: 100%;
  float: left;
  margin-bottom: 19px;
}

ul.speaker-list li {
  width: 100%;
  height: auto;
  /* float: left; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-bottom: 1px solid #444444;
}

ul.speaker-list li div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.speaker-list li div h4 {
  font-weight: 500;
  color: #DA0037;
}

ul.speaker-list li div h5 {
  color: #444444;
}

ul.speaker-list li:nth-child(2) {
  width: 100%;
  height: auto;
  /* float: left; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-bottom: 1px solid #444444;
}

ul.speaker-list li:nth-child(2) div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.speaker-list li:nth-child(2) div h3 {
  padding-left: 0 !important;
  text-align: left;
}

ul.speaker-list li img {
  width: 45%;
  margin: 0 auto;
  height: auto;
}

ul.speaker-list li h3 {
  width: 100%;
  padding-left: 15%;
  font-size: 25px;
  color: #EDEDED;
  margin-bottom: 4px;
}

ul.speaker-list li h4 {
  font-size: 23px;
  color: white;
}

ul.speaker-list li h5 {
  font-size: 20px;
  color: #B5BFD2;
}

section.speakers h1 {
  font-size: 64px;
  line-height: 96px;
  margin-top: 45px;
  margin-bottom: 25px;
}

section.profile {
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}

section.profile .avatar {
  float: left;
  width: 250px;
  border-radius: 10px;
}

section.profile .details {
  width: calc(100% - 275px);
  margin-left: 25px;
  float: left;
}

section.profile h1 {
  font-size: 54px;
  margin-bottom: 8px;
}

section.profile h2 {
  color: #B5BFD2;
  margin-bottom: 25px;
}

section.profile .social {
  margin-top: 25px;
}

section.profile .social svg {
  height: 24px;
  fill: currentColor;
  margin-right: 25px;
}
/*# sourceMappingURL=style.css.map */